body{
font-family: 'Cinzel', serif;
background-color: white;
}

img{
  width: 250px;
}

.jumbotron{
  background-image: url("../img/banner.jpg");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.card-img-top {
  width: 60%;
  object-fit: cover;
}

footer{
    
}

.jumbotron h1{
  font-size: 100px;
}

.jumbotron a{
  color:black;
}

.jumbotron a:hover {
  text-decoration: none;
  color: darkblue;
}

hr{
  margin-bottom: 50px;
}

.card{
  padding: 5px;
  margin-top: 20px;
}

p{
  font-family: 'Roboto', sans-serif;
}
